@model IEnumerable<FrontEnd.Models.Notificacion>
@{
    ViewData["Title"] = "Notificaciones";
    var clienteRol = Context.Session.GetString("ClienteRol");

    if (clienteRol != null)
    {
        Layout = "~/Views/Shared/_LayoutClientes.cshtml";

    } else
    {
        Layout = "~/Views/Shared/_LayoutUsuarios.cshtml";
    }
    
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Notificaciones Recientes</h1>
        <h1 class="text-white display-3 mb-5">Mantente informado</h1>
    </div>
</div>
<!-- Header End -->
<!-- Lista de Notificaciones Start -->
<div class="container-fluid py-4">
    <h4 class="mb-4 text-primary">Últimas Notificaciones <span class="badge badge-danger" id="pendingCount">@Model.Count()</span></h4>

    <div class="list-group" id="notificationsList">
        
        @foreach(
            var row in Model

        )
        {
            <a href="#" class="list-group-item list-group-item-action notif-item" id=@row.IdNotificacion>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@row.Tipo</h5>
                </div>
                <p class="mb-1">@row.Titulo</p>
                <small class="text-muted">@row.Cuerpo</small>
                <small class="text-muted d-block mt-1">@row.FechaRegistro</small>
            </a>
        }



</div>
<!-- Lista de Notificaciones End -->

