@model IEnumerable<FrontEnd.Models.HistorialCambiosPaquete>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Gestión de Empleados";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";

    var usuarioNombre = Context.Session.GetString("UsuarioNombre");
    var idRol = Context.Session.GetString("ClienteRol");
    var usuarioId = Context.Session.GetString("UsuarioId");
    var sesionActiva = !string.IsNullOrEmpty(usuarioNombre);
}

@if (idRol == "1")
{



<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mb-5">Cambios cronológicos del paquete</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
        </div>
    </div>
</div>



<div class="timelinePaquetes">

    @foreach (var row in Model)
    {

        if (row.Sequencia % 2 != 0)
        {
            <div class="containertimelinepaquete leftcontenttimeline">
                <div class="contenttimeline">
                    <h2>@row.Informacion</h2>
                    <h4>@row.FechaRegistro</h4>
                    <p>@row.Descripcion</p>

                </div>

            </div>
        }
        else
        {
            <div class="containertimelinepaquete rightcontenttimeline">
                <div class="contenttimeline">
                    <h2>@row.Informacion</h2>
                    <h4>@row.FechaRegistro</h4>
                    <p>@row.Descripcion</p>
                </div>
            </div>
        }


    }

    <!--
    <div class="containertimelinepaquete leftcontenttimeline">
        <div class="contenttimeline">
            <h2>20 Febrero 2024</h2>
            <h3>Paquete recibido en sucursal San José</h3>
            <p>info</p>
        </div>

    </div>

    <div class="containertimelinepaquete rightcontenttimeline">
        <div class="contenttimeline">
            <h2>20 Febrero 2024</h2>
            <h3>Paquete recibido en sucursal San José</h3>
            <p>info</p>
        </div>
    </div>

    -->

</div>
}
else
{
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mb-5">No tienes acceso</h1>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group d-flex justify-content-center">
                    <img src="~/assets/img/no-autorizado.png" />
                </div>
            </div>
        </div>
    </div>

}
