@model IEnumerable<FrontEnd.Models.PaqueteUsuarioSucursal>
@{
    ViewData["Title"] = "Órdenes en Proceso";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}




<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Económica y Segura</h1>
        <h1 class="text-white display-3 mb-5">Envíos a Costa Rica</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <form asp-controller="Paquete" asp-action="UsuarioCliente" method="get" class="w-100 d-flex">
                    <input type="text" name="buscar" class="form-control border-light" style="padding: 30px;" placeholder="Tracking Id">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary px-3">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Central Panel Section Start -->
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <!-- Panel: Órdenes en Proceso Start-->
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg">
                <div class="card-body text-center">
                    <h4 class="card-title text-primary">Órdenes en Proceso</h4>
                    <h1 class="text-primary mb-2" data-toggle="counter-up">@Model.Count(p => p.EstadoRuta == "Pendiente" || p.EstadoRuta == "En ruta")</h1>
                    <a href="@Url.Action("Paquetes","UsuarioCliente")" class="btn btn-outline-dark btn-sm mt-2">Ver Todos los Paquetes</a>
                    <ul class="list-inline row mt-4">
                        <li class="col-6">
                            <h5 class="text-dark">@Model.Count(p => p.EstadoRuta == "En ruta")</h5>
                            <p class="mb-0 text-muted">En ruta</p>
                        </li>
                        <li class="col-6">
                            <h5 class="text-dark">@Model.Count(p => p.EstadoRuta == "Pendiente")</h5>
                            <p class="mb-0 text-muted">Pendientes</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Panel: Órdenes en Proceso End -->
    </div>
</div>
<!-- Central Panel Section End -->
<!-- Lista de Paquetes Start-->
<div class="container-fluid py-4">
    <h4 class="mb-4 text-primary">Lista de Paquetes</h4>
    <table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Tracking ID</th>
                <th>Oficina</th>
                <th>Nombre Cliente</th>
                <th>Estado de pago</th>
                <th>Fecha de entrega estimada</th>
                <th>Tipo de Entrega</th>
                <th>Precio</th>
                <th>Estado de paquete</th>
                <th>Opciones</th>


            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="9" class="text-center text-muted">No hay paquetes registrados</td>
                </tr>
            }
            else
            {
                @foreach (var paquete in Model.Where(p => p.EstadoRuta == "En ruta" || p.EstadoRuta == "Pendiente"))
                {
                    <tr>
                        <td>@paquete.NumeroRegistro</td>
                        <td>@paquete.PaqueteSucursalNombre</td>
                        <td>@paquete.PaqueteUsuarioNombre</td>
                        <td><strong style="color: @(paquete.EstadoPago == "Cancelado" ? "#1F1F2E" : "#9E1218")">@paquete.EstadoPago</strong></td>
                        <td>@(paquete.FechaEntregaEstimada?.ToString("dd/MM/yyyy") ?? "Fecha no disponible")</td>
                        <td>@paquete.TipoEntrega</td>
                        <td>@paquete.Precio</td>
                        <td>
                            @if (paquete.EstadoRuta == "Pendiente")
                            {
                                <strong style="color: #757575;">@paquete.EstadoRuta</strong>
                            }
                            else if (paquete.EstadoRuta == "En ruta")
                            {
                                <strong style="color: #9E1218;">@paquete.EstadoRuta</strong>
                            }
                            else if (paquete.EstadoRuta == "Entregado")
                            {
                                <strong style="color: #1F1F2E;">@paquete.EstadoRuta</strong>
                            }
                            else if (paquete.EstadoRuta == "En sucursal")
                            {
                                <strong style="color: #C4161C;">@paquete.EstadoRuta</strong>
                            }
                        </td>
                        <td>
                            <!-- Botón para abrir el modal de ver detalles -->
                            <button class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteModal-@paquete.IdPaquete">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <!-- Modal de detalles -->
                            <div class="modal fade" id="deleteModal-@paquete.IdPaquete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@paquete.IdPaquete" aria-hidden="true">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel-@paquete.IdPaquete">Detalles del Paquete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <p><strong>Tracking ID:</strong>@paquete.NumeroRegistro</p>
                                            <p><strong>Nombre del Cliente:</strong>@paquete.PaqueteUsuarioNombre</p>
                                            <p>
                                                <strong>Detalles:</strong>
                                                <ul>
                                                    <li>Alto : @paquete.PaqueteAlto</li>
                                                    <li>Largo: @paquete.PaqueteLargo</li>
                                                    <li>Ancho: @paquete.PaqueteAncho</li>
                                                </ul>
                                            </p>
                                            <p><strong>Estado de pago:</strong> @paquete.EstadoPago</p>
                                            <p><strong>Fecha Aproximada de Entrega:</strong> @paquete.FechaEntregaEstimada</p>
                                            <p><strong>Tipo de Entrega:</strong> @paquete.TipoEntrega</p>
                                            <p><strong>Descripción:</strong> @paquete.Descripcion</p>
                                            <hr />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal de detalles End -->
                            <!-- Botón para entrega -->
                            <button class="btn btn-link" data-toggle="modal" data-target="#detailsModal-@paquete.IdPaquete">
                                <i class="fas fa-truck"></i>
                            </button>
                            <!-- Modal entrega paquete Start -->
                            <div class="modal fade" id="detailsModal-@paquete.IdPaquete" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="detailsModalLabel">Detalles del Paquete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Información de Paquete -->
                                            <p><strong>Tracking ID:</strong> @paquete.NumeroRegistro</p>
                                            <p>
                                                <strong>Detalles:</strong>
                                                <ul>
                                                    <li>Alto: @paquete.PaqueteAlto</li>
                                                    <li>Largo: @paquete.PaqueteLargo</li>
                                                    <li>Ancho: @paquete.PaqueteAncho</li>
                                                </ul>
                                            </p>
                                            <p><strong>Estado de pago:</strong> @paquete.EstadoPago</p>
                                            <p><strong>Fecha Aproximada de Entrega:</strong> @paquete.FechaEntregaEstimada</p>
                                            <p><strong>Tipo de Entrega:</strong> <span id="tipoEntrega">@paquete.TipoEntrega</span></p>
                                            <p><strong>Sucursal Seleccionada:</strong> <span id="sucursalSeleccionada">@paquete.PaqueteSucursalNombre</span></p>
                                            <p><strong>Descripción:</strong> @paquete.Descripcion</p>
                                            <hr />
                                            <!-- Navs para seleccionar el método de entrega -->
                                            <ul class="nav nav-tabs" id="deliveryTabs" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" id="domicilioTab" data-toggle="tab" href="#domicilioTabContent" role="tab" aria-controls="domicilioTabContent" aria-selected="true">Entrega a Domicilio</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="sucursalTab" data-toggle="tab" href="#sucursalTabContent" role="tab" aria-controls="sucursalTabContent" aria-selected="false">Retiro en Sucursal</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content mt-3" id="deliveryTabsContent">
                                                <!-- Contenido Entrega a Domicilio -->
                                                <div class="tab-pane fade show active" id="domicilioTabContent" role="tabpanel" aria-labelledby="domicilioTab">
                                                    <p><strong>Descripción:</strong> La entrega a domicilio tarda entre 3-4 días hábiles.</p>
                                                    <p><strong>Costo:</strong> Ya está incluido con el servicio.</p>
                                                    <button class="btn btn-outline-dark" data-toggle="collapse" href="#domicilioAddressForm" role="button" aria-expanded="false" aria-controls="domicilioAddressForm" onclick="updateTipoEntrega('Domicilio')">Confirmar Entrega a Domicilio</button>
                                                    <!-- Formulario Dirección para Entrega a Domicilio -->
                                                    <div class="collapse" id="domicilioAddressForm">
                                                        @foreach (var PaqueteUsuarioSucursal in Model)
                                                        {
                                                            <form method="post" asp-action="ActualizarDireccionOrdenes" asp-route-idPaquete="@paquete.IdPaquete" asp-route-idSucursal="@paquete.IdSucursal">

                                                                <div class="form-group">
                                                                    <label class="mt-4">Provincia</label>
                                                                    <input type="text" class="form-control" name="provincia" value="@paquete.PaqueteUsuarioProvincia" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Cantón</label>
                                                                    <input type="text" class="form-control" name="canton" value="@paquete.PaqueteUsuarioCanton" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Distrito</label>
                                                                    <input type="text" class="form-control" name="distrito" value="@paquete.PaqueteUsuarioDistrito" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Código Postal</label>
                                                                    <input type="text" class="form-control" name="codigoPostal" value="@paquete.PaqueteUsuarioCodigoPostal" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Dirección</label>
                                                                    <textarea class="form-control" name="direccion" required>@paquete.PaqueteUsuarioDireccion</textarea>
                                                                </div>
                                                                <input type="hidden" name="tipoEntrega" value="Domicilio" />
                                                                <div class="d-flex justify-content-start mt-3">
                                                                    <button class="btn btn-dark mr-2" type="submit">Modificar Dirección</button>
                                                                    <form method="post" asp-action="ActualizarMetodoEntregaOrdenes" asp-route-idPaquete="@paquete.IdPaquete" asp-route-tipoEntrega="Domicilio" asp-route-idSucursal="@paquete.IdSucursal">
                                                                        <button class="btn btn-primary" type="submit">Verificar Dirección</button>
                                                                    </form>
                                                                </div>
                                                            </form>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- Contenido Retiro en Sucursal -->
                                                <div class="tab-pane fade" id="sucursalTabContent" role="tabpanel" aria-labelledby="sucursalTab">
                                                    <p><strong>Descripción:</strong> El retiro en sucursal se puede realizar en cualquiera de las sucursales disponibles.</p>
                                                    <ul>
                                                        <li>
                                                            <strong>Naranjo (CR) </strong>
                                                            <br />
                                                            <br /><strong>Horario: </strong>Lunes a Viernes 8:00 a.m. a 5:00 p.m. - Sábado 8:00 a.m. a 12:00 m.d.
                                                            <br /><strong>Teléfono: </strong> +506 2455 1600
                                                            <br /><strong>Dirección: </strong> Cruce de Naranjo, 500m Oeste de la Soda Jairos contiguo al Bar la Gallera.
                                                            <br />Alajuela, Naranjo, San Miguel
                                                            <br />20602 - Costa Rica
                                                        </li>
                                                        <br />
                                                        <li>
                                                            <strong>Pérez Zeledón (CR) </strong>
                                                            <br />
                                                            <br /><strong>Horario: </strong>Lunes a Viernes 8:00 a.m. a 12:00 m.d. y de 1:00 p.m. 5:00 p.m. - Sábado 8:00 a.m. a 12:00 m.d.
                                                            <br /><strong>Teléfono: </strong> +506 2771 9715
                                                            <br /><strong>Dirección: </strong> Barrio San Luis, 100m Norte y 100m Oeste de la Gasolinera Gasotica.
                                                        </li>
                                                        <br />
                                                    </ul>
                                                    <!-- Formulario para Retiro en Sucursal -->
                                                    <form method="post" asp-action="ActualizarMetodoEntregaOrdenes" asp-route-idPaquete="@paquete.IdPaquete" asp-route-tipoEntrega="Sucursal">
                                                        <div class="form-group">
                                                            <label>Seleccione la Sucursal:</label>
                                                            <div class="form-group">
                                                                <label for="SucursalId">Sucursal</label>
                                                                @if (ViewBag.Sucursales != null)
                                                                {
                                                                    <select class="form-control" id="SucursalId" name="IdSucursal" required>
                                                                        @foreach (var sucursal in ViewBag.Sucursales as List<Sucursal>)
                                                                        {
                                                                            <option value="@sucursal.IdSucursal" selected="@(paquete.IdSucursal == sucursal.IdSucursal)">
                                                                                @sucursal.Nombre
                                                                            </option>
                                                                        }
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <p class="text-danger">No hay sucursales disponibles.</p>
                                                                }
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-primary" type="submit">Confirmar Retiro en Sucursal</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal entrega paquete End -->
                            <!-- Historial del paquete -->
                            <form asp-action="Historial" asp-controller="UsuarioCliente" method="post">
                                <input type="text" class="form-control" name="pid" value="@paquete.IdPaquete" hidden />
                                <button type="submit" class="btn btn-link"><i class="fas fa-history"></i></button>
                            </form>
                            <!--  <button class="btn btn-link"> <a href="@Url.Action("Historial", "UsuarioCliente", paquete.IdPaquete)"><i class="fas fa-history"></i></a> </button>-->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>





