<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Transportes a Costa Rica</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">

</head>
<body>

    <div class="container-fluid bg-dark">
        <!-- Topbar Start -->
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+506 2455 1600</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>Ventas@TransportesACostaRica.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- Topbar end  -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a class="navbar-brand d-flex align-items-center ml-lg-3" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/assets/img/icono.png" alt="Icono" class="mr-3" style="height: 60px;" />
                <h1 class="m-0 display-5 text-uppercase" style="color:#1F1F2E;">Transportes a Costa Rica</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <!--     <a href="Views/vistassincontroller/index.html" class="nav-item nav-link active">Home sin controller </a> home sin controller -->
                    <!-- <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active"></a> -->
                    <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="Pagos">Mis Pagos</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="Notificaciones">Notificaciones</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tracking</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="Paquetes">Mis Paquetes</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="EstadoPaquetes">Estado de Paquetes</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="OrdenesProceso">Ordenes en Proceso</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="Transportes">Transportes</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" asp-area="" asp-controller="UsuarioCliente" asp-action="Configuracion">Configuracion</a>
                </div>
                <a href="@Url.Action("Index","Home")" class="btn btn-primary py-2 px-4 d-none d-lg-block">Cerrar Sesión</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    @RenderBody()



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Póngase en contacto</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Naranjo, CR</p>
                        <p>
                            <i class="fa fa-phone-alt mr-2"></i>+506 2455 1600
                        </p>
                        <p><i class="fa fa-envelope mr-2"></i>Ventas@TransportesACostaRica.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Links rápidos</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tarifas</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-5 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Newsletter</h3>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a>Transportes a Costa Rica</a>. Todos los derechos reservados.
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terminos y Condiciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/easing/easing.min.js"></script>
    <script src="assets/lib/waypoints/waypoints.min.js"></script>
    <script src="assets/lib/counterup/counterup.min.js"></script>
    <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="assets/js/main.js"></script>

    <!-- Contraseña -->
    <script>
        const sessionTimeout = 5 * 60 * 1000; // 5 minuto de inactividad
        let inactivityTimer;
        function resetInactivityTimer() {
            clearTimeout(inactivityTimer);
            inactivityTimer = setTimeout(logout, sessionTimeout);
        }
        function logout() {
            window.location.href = '@Url.Action("Logout", "Acceso")';
        }
        document.onmousemove = resetInactivityTimer;
        document.onkeypress = resetInactivityTimer;
        resetInactivityTimer();
    </script>

</body>
</html>
