@model IEnumerable<FrontEnd.Models.PaqueteUsuarioSucursal>
@{
    ViewData["Title"] = "Estado de Paquetes";
    Layout = "~/Views/Shared/_LayoutUsuarios.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Económica y Segura</h1>
        <h1 class="text-white display-3 mb-5">Envíos a Costa Rica</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <form asp-controller="Paquete" asp-action="EstadoPaquetes" method="get" class="w-100 d-flex">
                    <input type="text" name="buscar" class="form-control border-light" style="padding: 30px;" placeholder="Tracking Id">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary px-3">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Central Panel Section Start -->
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <!-- Panel: Estado de Paquetes o Órdenes en Proceso Start -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg">
                <div class="card-body text-center">
                    <h4 class="card-title text-primary">Estado de Paquetes</h4>
                    <h1 class="text-primary mb-2" data-toggle="counter-up">@Model.Count(p => p.EstadoRuta == "Entregado" || p.EstadoRuta == "En sucursal")</h1>
                    <a href="@Url.Action("Paquetes","Paquete")" class="btn btn-outline-dark btn-sm mt-2">Ver Todos los Paquetes</a>
                    <ul class="list-inline row mt-4">
                        <li class="col-6">
                            <h5 class="text-dark">@Model.Count(p => p.EstadoRuta == "Entregado")</h5>
                            <p class="mb-0 text-muted">Entregados</p>
                        </li>
                        <li class="col-6">
                            <h5 class="text-dark">@Model.Count(p => p.EstadoRuta == "En sucursal")</h5>
                            <p class="mb-0 text-muted">En sucursal</p>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- Panel: Estado de Paquetes o Órdenes en Proceso End-->
    </div>
</div>
<!-- Central Panel Section End -->
<!-- Lista de Paquetes Start-->
<div class="container-fluid py-4">
    <h4 class="mb-4 text-primary">Lista de Paquetes</h4>
    <table class="table table-hover table-striped shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Tracking ID</th>
                <th>Oficina</th>
                <th>Nombre Cliente</th>
                <th>Estado de pago</th>
                <th>Fecha de entrega estimada</th>
                <th>Tipo de Entrega</th>
                <th>Precio</th>
                <th>Estado de paquete</th>
                <th>Opciones</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var paquete in Model.Where(p => p.EstadoRuta == "En sucursal" || p.EstadoRuta == "Entregado"))
            {
                <tr>
                    <td>@paquete.NumeroRegistro</td>
                    <td>@paquete.PaqueteSucursalNombre</td>
                    <td>@paquete.PaqueteUsuarioNombre</td>
                    <td><strong style="color: @(paquete.EstadoPago == "Cancelado" ? "#1F1F2E" : "#9E1218")">@paquete.EstadoPago</strong></td>
                    <td>@(paquete.FechaEntregaEstimada?.ToString("dd/MM/yyyy") ?? "Fecha no disponible")</td>
                    <td>@paquete.TipoEntrega</td>
                    <td>@paquete.Precio</td>
                    <td>
                        @if (paquete.EstadoRuta == "Pendiente")
                        {
                            <strong style="color: #757575;">@paquete.EstadoRuta</strong>
                        }
                        else if (paquete.EstadoRuta == "En ruta")
                        {
                            <strong style="color: #9E1218;">@paquete.EstadoRuta</strong>
                        }
                        else if (paquete.EstadoRuta == "Entregado")
                        {
                            <strong style="color: #1F1F2E;">@paquete.EstadoRuta</strong>
                        }
                        else if (paquete.EstadoRuta == "En sucursal")
                        {
                            <strong style="color: #C4161C;">@paquete.EstadoRuta</strong>
                        }
                    </td>
                    <td>
                        <!-- Botón para abrir el modal de eliminación -->
                        <button class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteModal-@paquete.IdPaquete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <!-- Modal de eliminación -->
                        <div class="modal fade" id="deleteModal-@paquete.IdPaquete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@paquete.IdPaquete" aria-hidden="true">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel-@paquete.IdPaquete">Eliminar Paquete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Tracking ID:</strong>@paquete.NumeroRegistro</p>
                                        <p><strong>Nombre del Cliente:</strong>@paquete.PaqueteUsuarioNombre</p>
                                        <p>
                                            <strong>Detalles:</strong>
                                            <ul>
                                                <li>Alto : @paquete.PaqueteAlto</li>
                                                <li>Largo: @paquete.PaqueteLargo</li>
                                                <li>Ancho: @paquete.PaqueteAncho</li>
                                            </ul>
                                        </p>
                                        <p><strong>Estado de pago:</strong> @paquete.EstadoPago</p>
                                        <p><strong>Fecha Aproximada de Entrega:</strong> @paquete.FechaEntregaEstimada</p>
                                        <p><strong>Tipo de Entrega:</strong> @paquete.TipoEntrega</p>
                                        <p><strong>Descripción:</strong> @paquete.Descripcion</p>
                                        <hr />

                                        @if (paquete.EstadoPago == "Pendiente")
                                        {
                                            <h5 class="mt-3">Seguro que desea borrar este paquete?</h5>
                                            <form asp-action="BorrarPaqueteEstado" asp-controller="Paquete" method="post">
                                                <input name="id" value=@paquete.IdPaquete hidden />
                                                <button type="submit" class="btn btn-danger">Borrar Paquete</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            </form>
                                        }
                                        else
                                        {

                                            <p>Este paquete ya fue pagado y no se puede eliminar</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal de eliminación End -->
                        <!-- Botón para editar -->
                        <button class="btn btn-link" data-toggle="modal" data-target="#detailsModalUpdate-@paquete.IdPaquete">
                            <i class="fas fa-edit"></i>
                        </button>
                        <!-- Modal update paquete Start-->
                        <div class="modal fade" id="detailsModalUpdate-@paquete.IdPaquete" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Detalles del Paquete</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="ActualizarPaqueteEstado" asp-controller="Paquete" method="post">
                                            <input type="hidden" name="IdPaquete" value="@paquete.IdPaquete" />

                                            <div class="form-group">
                                                <label>Tracking ID:</label>
                                                <input type="text" class="form-control" name="NumeroRegistro" value="@paquete.NumeroRegistro" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label>Descripción del Paquete:</label>
                                                <input type="text" class="form-control" name="Descripcion" value="@paquete.Descripcion" />
                                            </div>

                                            <div class="form-group">
                                                <label>Alto:</label>
                                                <input type="text" class="form-control" name="PaqueteAlto" value="@paquete.PaqueteAlto" />
                                            </div>

                                            <div class="form-group">
                                                <label>Largo:</label>
                                                <input type="text" class="form-control" name="PaqueteLargo" value="@paquete.PaqueteLargo" />
                                            </div>

                                            <div class="form-group">
                                                <label>Ancho:</label>
                                                <input type="text" class="form-control" name="PaqueteAncho" value="@paquete.PaqueteAncho" />
                                            </div>

                                            <div class="form-group">
                                                <label>Tipo de Entrega:</label>
                                                <input type="text" class="form-control" name="TipoEntrega" value="@paquete.TipoEntrega" />
                                            </div>

                                            <div class="form-group">
                                                <label>Estado del Paquete:</label>
                                                @if (paquete.EstadoPago == "Pendiente")
                                                {
                                                    <input type="text" class="form-control" name="EstadoRuta" value="@paquete.EstadoRuta" readonly />
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" name="EstadoRuta" value="@paquete.EstadoRuta" />
                                                }
                                            </div>

                                            <div class="form-group">
                                                <label>Pago:</label>
                                                <input type="text" class="form-control" name="EstadoPago" value="@paquete.EstadoPago" readonly />
                                            </div>

                                            <div class="form-group">
                                                <label>Fecha Aproximada de Entrega:</label>
                                                <input type="date" class="form-control" name="FechaEntregaEstimada" value="@paquete.FechaEntregaEstimada?.ToString("yyyy-MM-dd")" />
                                            </div>

                                            <div class="form-group">
                                                <label>Precio:</label>
                                                <input type="text" class="form-control" name="Precio" value="@paquete.Precio" />
                                            </div>

                                            <hr />
                                            <button type="submit" class="btn btn-primary">Actualizar Paquete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal update paquete End-->
                        <!-- Historial del paquete -->
                        <button class="btn btn-link"> <a href="@Url.Action("Historial","Paquete")"><i class="fas fa-history"></i></a> </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>




